body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
  }
  
  .editor {
    width: 600px; 
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .editor p {
    margin: 0;
  }